.menu{
    display:flex;
    justify-content:space-between;
}



.grid img{
    border: 2px solid black;
    border-radius: 50px;
}

.origami {
    border-radius: 20px;
    background-color: white;
    src:url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');
    width:310px;
    font-family: Comforter;
}